<div class="flex h-screen flex-col">
  <div class="m-auto w-3/4 rounded-lg border-r-2 bg-slate-50 p-5 drop-shadow-xl md:w-1/4">
    <p class="mb-5 text-center text-2xl">Login</p>
    <p class="italic text-red-500" *ngIf="isError">Email or password is wrong, try again.</p>
    <form class="flex h-40 flex-col justify-around" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        class="h-8 rounded rounded-lg border border-r-2 pl-2 placeholder:italic placeholder:text-slate-400"
        id="email"
        type="email"
        autocomplete
        placeholder="Email"
        formControlName="email"
      />
      <div class="relative flex w-full flex-row">
        <input
          class="h-8 w-full rounded rounded-lg border border-r-2 pl-2 placeholder:italic placeholder:text-slate-400"
          id="password"
          autocomplete
          placeholder="Password"
          [type]="passwordFieldTextType ? 'text' : 'password'"
          formControlName="password"
        />
        <button class="absolute right-2 top-1" type="button" (click)="showPassword()">
          <svg
            *ngIf="passwordFieldTextType"
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            />
          </svg>
          <svg
            *ngIf="!passwordFieldTextType"
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
            />
          </svg>
        </button>
      </div>
      <button
        [ngClass]="!loginForm.valid ? 'bg-gray-400' : 'bg-sky-500'"
        class="text-md mt-5 w-1/2 self-center rounded-md border-r-2 px-4 py-2 font-semibold text-white shadow-sm"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Go
      </button>
    </form>
  </div>
</div>
