<div class="flex h-screen flex-col">
  <div class="m-auto w-3/4 rounded-lg border-r-2 bg-slate-50 p-5 drop-shadow-xl md:w-1/5">
    <p class="mb-2 text-center text-2xl md:mb-5">Welcome to DreamSanctuary</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aperiam beatae commodi debitis eum labore
      laudantium, magni modi officiis optio praesentium qui soluta suscipit vitae.
    </p>
    <div class="mt-4 flex justify-evenly self-center md:mt-8">
      <a
        class="text-md rounded-md border-r-2 bg-sky-500 px-4 py-2 font-semibold text-white shadow-sm"
        routerLink="/login"
      >
        Login
      </a>

      <a
        class="text-md rounded-md border-r-2 bg-sky-500 px-4 py-2 font-semibold text-white shadow-sm"
        routerLink="/register"
      >
        Register
      </a>
    </div>
  </div>
</div>
